apiVersion: v1
kind: Service
metadata:
  name: <%= projectId %>
  labels:
    project-name: <%= projectName %>
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: <%= projectId %>
