apiVersion: v1
kind: Service
metadata:
  name: <%= projectSlug %>
  labels:
    app: <%= projectSlug %>
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: <%= projectSlug %>
