apiVersion: v1
kind: Service
metadata:
  name: !!str <%= projectName %>
  labels:
    app: !!str <%= projectName %>
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: !!str <%= projectName %>
