apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ .appName }}-dev

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: {{ .appName }}
  
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: LOG_LEVEL
          value: debug
    target:
      kind: Deployment
      name: {{ .appName }}

images:
  - name: {{ .registry }}/{{ .appName }}
    newTag: dev-latest
