{{- if not .Values.secret.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}-secret
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  DATABASE_URL: "{{ .Values.secret.databaseUrl | default "" }}"
  DATABASE_PASSWORD: "{{ .Values.secret.databasePassword | default "" }}"
  NEXTAUTH_SECRET: "{{ .Values.secret.nextauthSecret | default "" }}"
  NEXTAUTH_URL: "https://{{ .Values.hostname }}"
  GITHUB_CLIENT_ID: "{{ .Values.secret.githubClientId | default "" }}"
  GITHUB_CLIENT_SECRET: "{{ .Values.secret.githubClientSecret | default "" }}"
  GITLAB_CLIENT_ID: "{{ .Values.secret.gitlabClientId | default "" }}"
  GITLAB_CLIENT_SECRET: "{{ .Values.secret.gitlabClientSecret | default "" }}"
{{- end }}
