apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: flux-system
  namespace: flux-system
spec:
  interval: 1m
  url: https://gh-proxy.com/https://github.com/997899594/Juanie.git
  ref:
    branch: main
