apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ .appName }}-prod

resources:
  - ../../base
  - hpa.yaml

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: {{ .appName }}
  
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: LOG_LEVEL
          value: warn
    target:
      kind: Deployment
      name: {{ .appName }}

images:
  - name: {{ .registry }}/{{ .appName }}
    newTag: latest
